#licencia .custom-file-control:lang(en)::after {
  content: "Seleccionar licencia";
}

#licencia .custom-file-control:lang(en)::before {
  content: "Buscar";
}

#certificado .custom-file-control:lang(en)::after {
  content: "Seleccionar certificado médico";
}

#certificado .custom-file-control:lang(en)::before {
  content: "Buscar";
}
