.sidebar--bg {
  background-color: #fff;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link {
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link.active {
  color: #fff;
  background-color: #20B5D6;
}

.sidebar__left .sidebar__menu .sidebar__header {
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__dropdown.active .sidebar__link {
  background-color: #f2f2f2;
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link:visited {
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link:hover {
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link:focus {
  color: #484848;
}

.sidebar__left .sidebar__menu .sidebar__item .sidebar__link:hover {
  color: #484848;
  background-color: #d3edf5;
}

.header__brand {
  background-color: #20B5D6;
}

.card--primary {
  background-color: #20B5D6;
}

.stats__widget .content__body .content__right {
  background-color: #20B5D6;
}

.breadcrumb__item {
  color: #20B5D6;
}

.page-link {
  color: #20B5D6;
}

.page-item.active .page-link {
  background-color: #20B5D6;
  border-color: #20B5D6;
}

.btn.btn--info {
  color: #fff;
  background-color: #20B5D6;
  border-color: #20B5D6;
  border: 1px solid #20B5D6;
}

